<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--        android:name=".ui.BaseApplication"-->

    <application
        android:name="com.sendbird.chat.sample.addremoveoperators.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.user.ChatMemberListActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.user.SelectUserActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.groupchannel.GroupChannelChatActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="${packageName}.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.base.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.base.SignUpActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.sendbird.chat.sample.addremoveoperators.base.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>